<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="logo">
          <img
            src="images/logo-mercado-liebre.svg"
            alt="Logo de MercadoLiebre"
          />
        </div>
        <div class="search">
        <form class="form" action="#" method="GET">
          <!-- <div class="input">Buscar productos, marcas y más</div> -->
          <input type="text" name="search" id="search" placeholder="Buscar productos, marcas y más">
          <div class="submit"><i class="fa fa-search"><input type="submit" value="buscar"></i></div>
        </form>
      </div>
        <div><p>
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p></div>
      </div>
      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
    </header>
    <main>
      <div class="cont-f">
        <div class="registro">
          <form action="/" method="POST">
            <div class="primeraseccion">
            <div class="i"><input type="text" placeholder="Apellido y Nombre" name="nombre"></div>
            <div class="i"><input type="text" placeholder="Nombre de Usuario " name="usuario"></div>
            <div class="i"><input type="email" placeholder="e-mail " name="mail"></div>
            <br> <br>
          </div>
            <div class="cumple"><label for="fecha-nac">Fecha de Nacimiento</label>
            <input type="date" placeholder="fecha de nacimiento" id="fecha-nac"> <br>
            <input type="text" placeholder="Domicilio" name="domicilio"></div>
            <h4>Perfil de Usuario</h4>
             <div class="perfil">
              <div> <input type="radio" value="buyer" name="perfil" id="buyer">
               <label for="buyer">Comprador</label></div>
                <div><input type="radio" value="seller" name="perfil" id="seller">
               <label for="seller">Vendedor</label></div>
             </div>
             <h4>Intereses</h4>
             <div class="intereses">
               <div>
                 <input type="checkbox" name="intereses" value= "a" id="a">
                 <label for="a">Electro</label>
                </div>
                <div>
                 <input type="checkbox" name="intereses" value="b" id="b">
                 <label for="b">Moda</label>
               </div>
               <div>
                 <input type="checkbox"  name="intereses" value="c "id="c">
                 <label for="c">Hogar</label>
               </div>
               <div>
                 <input type="checkbox" name="intereses" value= "d" id="d">
                 <label for="d">Jugueteria</label>
               </div>
               <div>
                 <input type="checkbox" name="intereses" value="e" id="e">
                 <label for="e">Vida sana</label>
               </div>
             </div>
             <h4>Elegi tu foto de Usuario</h4>
              <div class="foto-contraseña"><input type="file" name="foto" ><br><br>
             <input type="password" name="pass" placeholder="Elegi tu contraseña">
             <input type="password" name="c-pass" placeholder="Confirmà tu contraseña"><br>
             <input type="submit" value="   Enviar   "class="boton-enviar"><a href="/" ></a> </input>
             <input type="reset" name= "Borrar" class="boton-borrar"></div> <br>
          </form>
        </div>
      </div>

    </main>
  </body>
  </html>